* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    margin: 30px;
}

#main p a {
    color: blue;
    text-decoration: none;
}

#main p a:hover {
    color: blue;
    text-decoration: underline;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
    font-weight: bold;
}

#header p {
    padding: 10px;
}

#header p a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

#header p a:hover {
    background-color: rgb(127, 255, 212, 1);
    border-radius: 10px;
}

#main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
    margin: 20px auto;
    max-width: 800px;
    padding: 30px 40px;
}

#question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.7;
}

#answer {
    padding: 0;
    margin-top: 35px;
}

#answer li {
    list-style: none;
    background-color: rgba(218, 221, 220, 0.7);
    padding: 10px;
    margin-bottom: 3px;
}

#answer li:hover {
    cursor: pointer;
    background-color: rgb(127, 255, 212, 1);
}

#store-score-form {
    margin: 10px auto;
}

.btn {
    margin-left: 10px;
    background-color: rgb(127, 255, 212, 1);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

#error-message {
    color: red;
}

#score-list li {
    background-color: rgba(218, 221, 220, 0.7);
    padding: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

@media screen and (max-width: 800px) {
    #header {
        justify-content: space-between;
    }
}